{% extends 'base.html' %}

{% block content %}

  <h1 class="display-4">Edit Note</h1>

  <form method="POST">

    {{ form.hidden_tag() }}

    {% for field in form
  if field.widget.input_type != 'hidden' %}
      <div class="mb-3">
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endfor %}
    <div class="d-flex">
      <button class="btn btn-success" type="submit">Save Changes</button>
      <a class="btn btn-warning" href="/users/{{note.user.username}}">Cancel</a>
    </div>

  </form>

{% endblock %}